* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  /* Убираем маркеры */
}

ul li {
  margin: 0;
  padding: 0;
}

body {
  width: 1500px;
  margin: 0;
  color: #ffffff;
  font-family: "Inter";
}

/* === header ============================================================= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  width: 250px;
  height: 250px;
}

/* ===dropdown================ */

.navbar {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #fff;
  margin-left: 0px;
  justify-content: center;
}

.navbar a {
  float: left;
  font-size: 26px;
  font-weight: normal;
  color: rgb(7, 6, 6);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 26px;
  border: none;
  outline: none;
  color: rgb(8, 4, 4);
  padding: 14px 16px;
  background-color: inherit;
  font-family: "Inter";
  width: 160px;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(207, 224, 253);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(205, 228, 254);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ===== header buttons ===================================*/
.header__actions {
  display: flex;
}
.button__login {
  background-color: #fff;
}
.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  font-family: "Inter";
  font-size: 26px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.button__signup {
  background-color: rgb(255, 231, 15);
  color: #000;
}


/* ====  menu ======================================= */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
